<div class="container">
    <div class="row">
        <div class="col-lg-12">
            Search <input type="text" ng-model="query" />
            Order By
            <select  ng-model="orderProp">
                <option value="ProductName" >Alphabetical</option>
                <option value="Price">Price</option>
            </select>
            
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 col-xs-6" ng-repeat="product in products | filter: {ProductName:query} | orderBy: orderProp">
            <div class="thumbnail">
                <div class="caption">
                    <img class="img-responsive" ng-src="{{product.Image ? product.Image : 'images/sorry-image-not-available.png'}}"/>  
                    <product-title></product-title>
                    <p>Price: {{product.Price}}</p>
                    <p>
                        <a href="#/products/{{product.ID}}" class="btn btn-primary" role="button">View details</a>                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>